body,html{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}

.top{
  height:57px;
  background-color: #222222;
}
.top .gnb{
  height:57px;
  width: 980px;
  outline:1px #F00 solid;
  margin:0 auto;
}
