body,html{
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}

ul,ol,dl,li{
  list-style: none;
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
}

.top{
  height:57px;
  background-color: #222222;
}
.top .gnb{
  height:57px;
  width: 980px;
  outline:1px #F00 solid;
  margin:0 auto;
}

.gnb .logo{
  float:left;
}

.gnb .navimenu{
  outline: 1px #F00 solid;
  margin-left:200px
}

.gnb .navimenu>ul>li{
  display: inline-block;
  vertical-align: top;
}

.gnb .navimenu>ul>li>a{
  color:#FFF;
  font-size:18px;
  text-transform:uppercase;
  font-weight: bold;
  display: block;
  height: 56px;
  border: 1px #F00 solid;
  line-height: 56px;
  transition: 0.5s;
  position: relative;
  bottom:0px;
}


.gnb .navimenu>ul>li>a:hover{
  color:skyblue;
  bottom:10px;
}

.gnb .navimenu ul ul{
  font-size:14px;
  background-color: #222;
  padding: 10px 0;
  position: absolute;
  display: none;
}

.gnb .navimenu ul ul a{
  color:#FFF;
  padding:5px 10px;
  text-transform:uppercase;
}

.gnb .navimenu>ul>li:hover ul{
  display: block;
}

.gnb .option li,
.gnb .option ul {
  display: inline-block;
  vertical-align: middle;
}

.gnb .option .sns li{
  width: 30px;
  height: 30px;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}
.gnb .option .sns li a{
  height:100%;
  width: 100%;
  display:block;
}
.gnb .option {
  float:right;
}
.gnb .option ul{
  line-height: 56px;
}
.gnb .option .leng{
  margin-right:20px;
  color:skyblue;
  font-size:12px;
}
.gnb .option .sns .twitter{
  background-image:url(../images/twitter_bird-w.png);
}
.gnb .option .sns .facebook{
  background-image:url(../images/facebook-w.png);
}
.gnb .option .sns .youtube{
  background-image:url(../images/youtube-w.png);
}
.gnb .option .sns .edm{
  background-image:url(../images/edm-r.png);
}

.titler {
  height:170px;
  background-color: #EEE;
}

.titler .titlewap{
  width: 980px;
  height:100%;
  margin:0 auto;
  outline:1px #F00 solid;
}

.titler .titlewap img{
  position: relative;
  top:30px;
}

.grid .grid-wrap{
  outline:1px #F00 solid;
  width: 980px;
  min-height: 500px;
  margin:0 auto;
}
.grid .grid-wrap li{
  text-align: center;
  width: 290px;
  margin:0 15px;
  display: inline-block;
  vertical-align: top;

}

.grid .grid-wrap li img{
  transition: 0.5s cubic-bezier(1, 0.49, 0, 0.68);
  transform: scale(1) rotate(0deg);
}

.grid .grid-wrap li img:hover{
  transform: scale(1.7) rotate(5deg);
}

.grid .grid-wrap .photo{
  overflow: hidden;
  width: 290px;
  height: 230px;
  outline: 1px #F00 solid;
}
.grid .grid-wrap .photo img{
  width: 290px;
  height: 230px;
}
